<% include ../partials/header %>


<div class="row">
    <h1 style="text-align:center; margin: 50px 0px;">Edit <%= view.name %></h1>
    <div style="width:30%; margin:0 auto;">
        <form action="/campgrounds/<%= view._id %>?_method=Put" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="view[name]" placeholder="Name" value="<%= view.name %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="view[image]" placeholder="Image Url"
                    value="<%= view.image %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="view[rating]" value="<%= view.rating %>" min="1"
                    max="10" step="1">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="view[description]" placeholder="Description"
                    value="<%= view.description %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>