<% include ../partials/header %>
<div class="background"></div>
<div class="row d-flex justify-content-center">
    <div style="width: 100%" class="col-md-10">
        <div class="card mb-1">
            <img class="img-responsive" src="<%= campground.image %>">
            <div class="card-body d-flex flex-wrap">
                <h4 class="mr-auto"><a><%=campground.name%></a></h4>
                <h4 class="ml-auto">Viewers rating: <%= campground.rating %>/10</h4>
                <p><%= campground.description %></p>
                <p>
                    <em>Submitted By <%= campground.author.username %></em>
                </p>
                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% }; %>
            </div>
        </div>
        <div class="mb-1">
            <a class="btn aqua-gradient" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
        </div>
        <div class="mb-5 container">
            <% campground.comments.forEach(function(comment){ %>
            <div class="mb-3 rounded grey lighten-5 row">
                <div class="d-flex flex-wrap col-md-12 p-3">
                    <b><%= comment.author.username %> said:</b>
                    <span class="ml-auto">10 days ago</span>
                    <p class="mb-0" style="width: 100%"><%= comment.text %></p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-sm purple-gradient ml-auto"
                        href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                        Edit
                    </a>
                    <form class="delete-form"
                        action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                        method="POST">
                        <input type="submit" class="btn btn-sm peach-gradient" value="delete">
                    </form>
                    <% }; %>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ../partials/footer %>